<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p id="question">Name the flag`s country</p>
    <div class="flag">
      <img id="flag_image" src="1.jpg" alt="Flag not found">
    </div>
    <form action="/poll/index.html/" method="post">
      <input id="answer" type="button" value="1">
      <input id="answer" type="button" value="2">
      <input id="answer" type="button" value="3">
      <input id="answer" type="button" value="4">
    </form>
  </body>
</html>
