<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p id="question">Name the flag`s country</p>
    <div class="flag">
      <img id="flag_image" src="{% static img %}" alt="Flag not found">
    </div>
    <form action="{% url 'poll' %}" method="post">
      {% csrf_token %}
      {% for item in items %}
        <input name="answer" type="submit" value="{{item.name}}">
      {% endfor %}
    </form>
  </body>
</html>
